* {padding: 0;margin: 0;}
/*li { list-style-type: none;}*/
a {text-decoration: none;}
.heads {width: 100%; height: 60px; position: fixed; top: 0; border-bottom: 1px #ccc solid; z-index: 1000;background: white;}
.head_img {position: relative; left: 200px;}
.head_clink {position: fixed; top:45px; left: 269px; z-index: 20000;}
.head_nav {position: absolute; right: 200px;top:20px;}
.head_nav li {float: left; color: #ccc; margin-right: 30px;}
.head_nav li :hover {border-bottom: 2px red solid;}
.head_nav a :active {color: #ccc;}
.head_nav a :link {color: #ccc}
.body {width: 984px; height: 100%;margin: 0 auto;}
.float_3 {width: 984px; height: 100%; background: white; margin-top: 20px; }
.float_3 div {float: left; width: 314px; height: 100%;}
.body hr {margin: 20px 0; color: #ccc;}
.float_1 {margin: 0 20px;}
.txt1 {color: red;}
.txt2 {color:#837f7e;}
.txt3 {color:red;font-size: 12px;margin:10px 0;}
.float_2l {width: 982px; height: 100%;}
.float_2l div {float: left; height: 100%;overflow: hidden;}
.float_2l h4 {margin: 10px; color: #4f322a;}
.left {width: 671px; margin-right: 30px;margin-bottom: 20px;}
.left_div_z {margin: 20px 0; border-bottom: 1px solid #ccc;}
.left_img {width: 201px;float: left;}
.left_div {width: 450px;margin-left: 20px;float: right;}
.right {width: 281px;}
.right a {border: 1px solid #ccc;display: block;padding: 5px;float: left;margin: 10px;}
.right_txt {width: 281px;}
.right_txt span {color: red;}
.right_txt ul li {line-height: 40px; list-style-position: inside;border-bottom: dashed 1px #ccc;list-style-type: decimal-leading-zero;font-size: 14px;}
.right_img{float: left;width: 40px;overflow: hidden;margin-top: 20px;}
.right_zuo{float: right;width: 221px;margin-left: 20px;}
.bottoms {color:white;width: 100%;background: black;height: 100px;text-align: center;clear: both;}
.fix {height:60px;display: block; }